<div class="" id="">
  <div class="card card-body">
    <%= render "tasks/form" %>
  </div>
</div>

<div class="d-flex align-content-between flex-wrap ">
  <% @tasks.each do |task| %>
    <%= render partial: "tasks/card", locals: { task: task } %>
  <% end %>
</div>


