<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1>
        <i class="bi bi-bookmark-heart-fill"></i> 
        Tasks
    </h1>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <i class="bi bi-plus-circle-fill"></i>
        New Tasks
    </button>

  </div>
</nav>